*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/SampleCordova/node_modules
.idea
node_modules
/SampleCordova/platforms/ios/build
xcuserdata
/SampleCordova/platforms/browser/www
/SampleCordova/platforms/android/app/src/main/assets/www
/SampleCordova/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
/SampleCordova/platforms/ios/Podfile.lock
